<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 my-3">
    <h1 class="text-center">Contato</h1>
    <p class="text-center lead">Seus contatos estão abaixos.</p>
    <%- include('includes/messages'); %>
    <div class="responsive-table"></div>
    <% if(contato._id) { %>
    <form action="/contato/edit/<%= contato._id %>" method="POST">
      <% } else { %>
        <form class="form-contato" action="/contato/register" method="POST">
        <% } %>
      <input type="hidden" name="_csrf" value=<%= csrfToken %>>
      <div class="mb-3">
        <label for="name" class="form-label label-name">Nome</label>
        <input value="<%= contato.name %>"type="text" class="form-control" name="name" id="name">
      </div>
      <div class="mb-3">
        <label for="last-name" class="form-label label-last-name">Sobrenome</label>
        <input value="<%= contato.lastName %>"type="text" class="form-control" name="lastName" id="last-name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label label-email">Email</label>
        <input value="<%= contato.email %>"type="email" class="form-control" name="email" id="email">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label label-phone">Telefone</label>
        <input value="<%= contato.phone %>"type="tel" class="form-control" name="phone" id="phone">
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

  </div>
  <div class="col-lg-2"></div>
</div>
</div>

  

<%- include('includes/footer'); %>